<h1>User</h1>
<p>Show details of an user.</p>

<%= render partial: "shared/user_list", locals: {user: @user} %>

<% if @user.recent_posts.length > 0 %>
    <% @user.recent_posts.each_with_index do |post, id| %>
        <%= link_to user_post_path(@user.id, post.id) do %>
            <%= render partial: "shared/post_list", locals: {post: post, track: id} %>
        <% end %>
    <% end %>
<% else %>
    <%= "No post yet" %>
<% end %>
<br>